<h1>About</h1>
<p>
  <%= link_to "Classalyze", "http://www.classalyze.com" %> is an online analytics and reporting platform that integrates with the school system and analyzes test scores at a per concept level. Analysis in such a manner can provide meaningful insights into classroom and student performance.

</p>