<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner">
  	<div class="active item">
      <img src="assets/bg1_classalyze.jpg">
      <div class="carousel-caption">
        <div class="row">
          <div class="span12">
            <h1>Welcome to Classalyze</h1>
            <div class="row">
              <div class="span8">
                <p>Using Data to improve Classroom Performance<p></div>
                <div class="span2 offset 3">
                  <%= link_to 'Sign Up', "#", class: "btn btn-primary btn-large" %></div>
            </div>
      </div></div></div>
    </div>
    <div class="item">
      <img src="assets/bg2_classalyze.jpg">
      <div class="carousel-caption">
        <h3> Now working with Schools and NGOs</h3>
        <p>Please contact us at contact@teerdesign.com</p>
      </div>
    </div>
    <div class="item">
      <img src="assets/bg3_classalyze.jpg">
      <div class="carousel-caption">
        <h3> Brought to you by Teer Design</h3>
        <p>Teer Design's vision is to create tech products that positively impact society</p>
      </div>
    </div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>

    <!-- ==========Hero Unit ====================
<div class="row">
<div class="hero-unit">
  <h1>Welcome to Classalyze</h1>
  <p>Using Data to improve Classroom Performance</p>
  <p>
    <%= link_to 'Sign Up', "#", class: "btn btn-primary btn-large" %> 
  </p>
</div> -->

<!-- ============= Grid System ================= -->
<!-- <div class="row">
  <div class="span8">
    <p>Using Data to improve Classroom Performance</p></div>
    <div class="span2 offset 2">
      <p><%= link_to 'Sign Up', "#", class: "btn btn-primary btn-large" %></p></div>
    </div> -->

