<div class="row">
<div class="hero-unit">
  <h1>Welcome to Classalyze</h1>
  <p>Using Data to improve Classroom Performance</p>
  <p>
  	<%= link_to 'Sign Up', "#", class: "btn btn-primary btn-large" %> 
  </p>
</div>


