$teer: #29A3CC;
$teer2: #CC6633;
$baseFontFamily: Oxygen;
@import url(http://fonts.googleapis.com/css?family=Oxygen);
$btnPrimaryBackground: $teer;
/*$textColor: #ECF7FA;*/
$navbarText:                      #fff; //white
$navbarLinkColor:                 #D2D2D5;
$navbarLinkColorActive:           #fff;

$navbarBackgroundHighlight:       $teer2;

$navbarLinkColorHover:            black; 
$navbarLinkBackgroundActive:      #006400; //darkgreen

@import 'bootstrap';
body {
	padding-top: 60px;
}

.hero-unit{
    background-color: #CC6633;
    color: #ECF7FA;
    background-image: url(bg1_classalyze.jpg);
    padding-left: 100px;
 }
 .carousel-inner {
    width: auto;
    h1 {
    color: $teer;
    }
    color: white

 }
/* .span4offset4 {
  position:absolute; 
  bottom:0;
 }*/
 .span8 {
  padding-top: 8px;
 }
 .name {
  color: black
 }
/* set the background-color to red */
.navbar-inner
{
    background-color: $teer2;
    /* remove the gradient */
    background-image: none;
    font-size: large;
    color: white;
}

.btn-primary {
	background-color: $teer;
}
@import 'bootstrap-responsive';
.footer {
	margin-top: 50px;
	color: $grayLight;
	a{
		color: $red
	}
}

/* Required for jQuery Masonry */

.box {
    margin: 5px;
    padding: 5px;
    font-size: 11px;
    line-height: 1.4em;
    float: left;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px #444;
    width: 214px;
}

.box img {
    width: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.description {
    margin: 10px 0 5px;
}